article {
    display: flex;
    flex-wrap:wrap;
    margin:25px;
    align-items:center;
    justify-content: center;
}

article img{
    padding:15px;
}

header {
    height:33vh;
    width:100%;
    background-size:cover;
    background-image: url("images/header.jpg");

}


ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#222;
    position:fixed;
    top:0;
    width:100%;
    border-bottom:#ddd 1px solid;
    border-top:#ddd 1px solid;
}

li  a{
    padding: 7px 15px;
    text-decoration:none;
    color:#ddd;
    display:block;
    border-right:#ddd 1px solid;
    float:left;
    text-align:center;
    font-size:small;
    font-family: 'Courier New', Courier, monospace;
    font-weight:600;


}
li:last-child {
    border-right:none;
}

li a.active {
    background-color:#ddd;
    color:#222;
}
li a:hover:not(.active) {
    color:rgb(022, 022, 022);
    background-color: rgb(150,150,150);
}